@import url('https://cdn.jsdelivr.net/gh/moonspam/NamumSquare@1.0/nanumsquare.css');

* {
    font-family: 'NanumSquare', sans-serif;
}
.box {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
html {
    font-size: 90%;
}
body {
    width : 100%;
    height : 100vh;
    background: #dfe6e9;
}
.title {
    width: flex;
    height: 13rem;
    background:#55efc4;
    margin : 50px;
    padding : 30px;
    border-radius: 12px;
    font-size: 2.7rem;
    text-align: center;
    line-height: 3rem;
}
.section {
    width: flex;
    height : 43rem;
    background :#ffeaa7;
    margin : 30px;
    padding : 30px;
    border-radius: 12px;
    font-size: 2.5rem;
    text-align: center;
}
.paragraph {
    width : flex;
    height : 10rem;
    background : white;
    border-radius: 12px;
    margin : 30px;
    padding : 30px;
    font-size: 1.5rem;
}
.notapplause_section {
    width: flex;
    height : 15rem;
    background :#ffeaa7;
    margin : 30px;
    padding : 30px;
    border-radius: 12px;
    font-size: 2.5rem;
    text-align: center;
}
.notapplause_paragraph {
    width : flex;
    height : 6rem;
    background : white;
    border-radius: 12px;
    margin : 30px;
    padding : 30px;
    font-size: 1.5rem;
}
.copyright {
    width : flex;
    height : 1.8rem;
    background : #a29bfe;
    border-radius: 12px;
    margin : 30px;
    padding : 30px;
    font-size: 1.5rem;
}
.site_redirect {
    width : 17%;
    height : 4rem;
    margin : 10px;
    background : #badc58;
    border : 1px solid #badc58;
    border-radius: 10px;
    font-size: 1.5rem;

}
