@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

h1 {
    color : orange;
    font-size : 45px;
    margin : 0px;
    padding : 24px;
    text-align : center;
    border-bottom : 2.4px solid gray;
    font-family: 'Noto Sans KR', sans-serif;
}

#import_selecting {
    color : purple;                                              
    font-size : 24px;       
    margin-left : 50px;    
    font-family: 'Nanum Pen Script', cursive;                      
}

#import_sel_paragraph {
    color : aqua;                                              
    font-size : 33px;       
    margin-left : 85px;
    font-family: 'Nanum Pen Script', cursive;
}
