@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap');

/*
    font-family: 'Noto Serif KR', serif;
**/
* {
    font-family: 'Noto Serif KR', serif;
}
.box {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
html {
    font-size: 90%;
}
body {
    width : 100%;
    height : 100vh;
    background: #dfe6e9;
}
.title {
    width: flex;
    height: 13rem;
    background:#55efc4;
    margin : 50px;
    padding : 30px;
    border-radius: 12px;
    font-size: 2.7rem;
    text-align: center;
    line-height: 3rem;
}
.section {
    width: 60%;
    height : 4rem;
    background :#ffeaa7;
    margin : 40px;
    padding : 30px;
    border-radius: 12px;
    font-size: 2.5rem;
    text-align: center;
}
